.dark-mode {
	--color-text: #ebf4f1;
	--color-primary: #41b38a;
	--color-secondary: #fdf9f3;
	--bg: #091a28;
	--bg-secondary: #071521;
	--border-color: #0d2538;
	--bg-image: #de7b98;
	--bg-content: rgb(252, 233, 219);
}

body {
	background-color: var(--bg);
	color: var(--color-text);
	transition: all 1s ease;
}

a {
	color: var(--color-text);
}
